!!!
%html
  %head
    %title WannaPlay
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  %form{:class => "well form-inline"}
    %input{:type => "text", :class => "input-small", :placeholder => "Email"}
    %input{:type => "password", :class => "input-small", :placeholder => "Password"}
    %label{:class => "checkbox"}
      %input{:type => "checkbox"} Remember me
    %button{:type => "submit", :class =>"btn"} Sign in
  #container
    = yield